.number{
  @apply px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100;
  @apply hover:text-gray-700 cursor-pointer;
}

.number-active{
  @apply  text-blue-600 bg-blue-100 hover:bg-blue-100 hover:text-blue-700;
}

.previous-pagination, .next-pagination{
  @apply block px-3 py-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100;
  @apply hover:text-gray-700 cursor-pointer;
}

.footer{
  display: flex;
  justify-content: center;

  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}



