.card-container{
  @apply flex flex-col ; 
  @apply bg-white border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700;

  width: 170px;
  height: 140px;
  
  padding:10px;
  margin:5px;
  border-radius: 20px;

  color:#fff; 
  position: relative;

}
.card-info{
  @apply flex flex-row;

  width: 100%;
  height: 100%;

  color:#fff; 

}

.description {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  height: 100%;
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 100%;
  width: 100%;

}

.image-pokemon {
  width: 80px;
  z-index: 2;
}

.pokeball {

  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 90px;
}

.pokeball ellipse{
  filter:brightness(0.85) ;
}


.type-pokemon{
  background-color: inherit;
  backdrop-filter:brightness(0.9) ;
  padding:2px;
  border-radius: 10px;
  margin-bottom: 5px;
  
  display: inline-flex;
  justify-content: center;
}

.type-pokemon p{
  z-index: 2;
  text-justify: center;
  vertical-align: middle;
  height: 100%;

}
